.main-gallery {
  min-height: calc(100vh - 7rem);
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Krona One";
    text-align: center;
    width: 100%;
    color: white;
    @media (min-width: 1200px) {
      font-size: 6rem;
    }
  }
  button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
}
